{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}异常监控{% endblock %}
{% block card-subtitle %}error control{% endblock %}
{% block new-ctrl %}
    <form class="form_new" action="/error_ctrl/" method="post">
        {% csrf_token %}
        <button name="new_ctrl" type="submit" style="width: 80px">新建监控</button>
    </form>
{% endblock %}

{% block content %}
    <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">ID</th>
                                            <th class="border-top-0">监控类型</th>
                                            <th class="border-top-0">调度ID</th>
                                            <th class="border-top-0">数据服务器</th>
                                            <th class="border-top-0">监控表名称</th>
                                            <th class="border-top-0">监控字段名称</th>
                                            <th class="border-top-0">执行时间</th>
                                            <th class="border-top-0">推送人</th>
                                            <th class="border-top-0">操作</th>
                                        </tr>
                                    </thead>
                                    <!--表内容填充-->
                                    <tbody>
                                        {% for task in task_list %}
                                            <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{task.id}}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td>{{task.c_type}}</td>
                                            <td>{{task.s_id}}</td>
                                            <td>{{task.server_add}}</td>
                                            <td>{{task.t_name}}</td>
                                            <td>{{task.c_name}}</td>
                                            <td>{{task.r_time}}</td>
                                            <td>{{task.p_user_email}}</td>
                                            <td>
                                                <a href="/error_ctrl_dtl/{{task.id}}">修改</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
{% endblock %}