{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}修改异常监控{% endblock %}
{% block card-subtitle %}update error control{% endblock %}

{% block content %}
    <div class="table-responsive" style="padding-left: 20px">
		{% for task in task_detail %}

        <form class="form-dtl" action="/error_ctrl_dtl/{{task.id}}/" method="post">
						{% if message %}
						    <div class="alert alert-warning">{{ message }}</div>
						{% endif %}
						{% csrf_token %}
						<div class="lowin-group">
							{{ task.c_type.label_tag }}
							{{ task.c_type }}
						</div>
						<div class="lowin-group password-group">
							{{ error_form.s_id.label_tag }}
							{{ error_form.s_id }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.server_add.label_tag }}
							{{ error_form.server_add }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.t_name.label_tag }}
							{{ error_form.t_name }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.c_name.label_tag }}
							{{ error_form.c_name }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.condition.label_tag }}
							{{ error_form.condition }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.time_option.label_tag }}
							{{ error_form.time_option }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.r_time.label_tag }}
							{{ error_form.r_time }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.p_user_email.label_tag }}
							{{ error_form.p_user_email }}
						</div>
						<button name="update" type="submit">提交</button>
			            <button name="delete" type="submit">删除</button>
		</form>
		{% endfor %}

    </div>
{% endblock %}