{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}异常监控{% endblock %}
{% block card-subtitle %}error control{% endblock %}
{% block new-ctrl %}
    <form class="form_new" action="/error_ctrl/" method="post">
        {% csrf_token %}
        <button name="new_ctrl" type="submit" style="width: 80px">新建监控</button>
    </form>
{% endblock %}

{% block content %}
    <div class="table-responsive">
                                <table class="table v-middle">
                                    <thead>
                                        <tr class="bg-light">
                                            <th class="border-top-0">ID</th>
                                            <th class="border-top-0">监控类型</th>
                                            <th class="border-top-0">调度ID</th>
                                            <th class="border-top-0">数据服务器</th>
                                            <th class="border-top-0">监控表名称</th>
                                            <th class="border-top-0">监控字段名称</th>
                                            <th class="border-top-0">执行时间</th>
                                            <th class="border-top-0">推送人</th>
                                            <th class="border-top-0">任务状态</th>
                                            <th class="border-top-0">监控状态</th>
                                            <th class="border-top-0">操作</th>
                                        </tr>
                                    </thead>
                                    <!--表内容填充-->
                                    <tbody>
                                        {% for task in task_list %}
                                            <tr>
                                            <td>
                                                <div class="d-flex align-items-center">
                                                    <div class="">
                                                        <h4 class="m-b-0 font-16">{{task.id}}</h4>
                                                    </div>
                                                </div>
                                            </td>
                                            <td><p class="task-list" style="width: 60px">
                                                {% if task.c_type == 'delay' %}
                                                延迟监控
                                                {% elif task.c_type == 'equal_zero' %}
                                                为0监控
                                                {% elif task.c_type == 'equal_null' %}
                                                为空监控
                                                {% elif task.c_type == 'equal_neg' %}
                                                为负监控
                                                {% endif %}
                                            </p></td>
                                            <td><p class="task-list" style="width: 60px">{{task.s_id}}</p></td>
                                            <td><p class="task-list" style="width: 100px">{{task.server_add}}</p></td>
                                            <td><p class="task-list" style="width: 150px">{{task.t_name}}</p></td>
                                            <td><p class="task-list" style="width: 150px">{{task.c_name}}</p></td>
                                            <td><p class="task-list" style="width: 60px">{{task.r_time}}</p></td>
                                            <td><p class="task-list" style="width: 200px">{{task.p_user_email}}</p></td>
                                            <td><p class="task-list" style="width: 60px">
                                                {% if task.t_state == '1' %}
                                                上线
                                                {% elif task.t_state == '0' %}
                                                下线
                                                {% endif %}
                                            </p></td>
                                            <td><p class="task-list" style="width: 60px">{{task.c_state}}</p></td>
                                            <td>
                                                <a href="/error_ctrl_dtl/{{task.id}}" style="display: block; width: 40px;">修改</a>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
{% endblock %}