{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}新建异常监控{% endblock %}
{% block card-subtitle %}create new error control{% endblock %}

{% block content %}
    <div class="table-responsive" style="padding-left: 20px">
        <form class="form-login" action="/new_error_ctrl/" method="post">
						{% if message %}
						    <div class="alert alert-warning">{{ message }}</div>
						{% endif %}
						{% csrf_token %}
						<div class="lowin-group">
							{{ error_form.c_type.label_tag }}
							{{ error_form.c_type }}
						</div>
						<div class="lowin-group password-group">
							{{ error_form.s_id.label_tag }}
							{{ error_form.s_id }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.server_add.label_tag }}
							{{ error_form.server_add }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.t_name.label_tag }}
							{{ error_form.t_name }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.c_name.label_tag }}
							{{ error_form.c_name }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.condition.label_tag }}
							{{ error_form.condition }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.time_option.label_tag }}
							{{ error_form.time_option }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.r_time.label_tag }}
							{{ error_form.r_time }}
						</div>
                        <div class="lowin-group password-group">
							{{ error_form.p_user_email.label_tag }}
							{{ error_form.p_user_email }}
						</div>
			            <div class="lowin-group password-group">
							{{ error_form.notes.label_tag }}
							{{ error_form.notes }}
						</div>
			            <div class="lowin-group password-group">
							{{ error_form.t_state.label_tag }}
							{{ error_form.t_state }}
						</div>

						<button type="submit">
							提交
						</button>
		</form>
    </div>
{% endblock %}