.task-list {
	/*width: 200px;*/
	overflow: hidden; /* 超出的部分隐藏起来 */
    text-overflow: ellipsis;
	white-space: nowrap;/* 不显示的地方用省略号...代替 */
}

.login_box{
	height: 38px;
	width: 268px;
	box-sizing: border-box;
	padding: 10px;
	padding-right: 0px;
	margin-bottom: 17px;
	border-radius: 3px;
	border: solid rgb(214,214,21)  1px;
}