{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}新建阈值监控{% endblock %}
{% block card-subtitle %}create new threshold control{% endblock %}

{% block content %}
    <div class="table-responsive" style="padding-left: 20px">
        <form class="form-login" action="/new_threshold_ctrl/" method="post">
						{% if message %}
						    <div class="alert alert-warning">{{ message }}</div>
						{% endif %}
						{% csrf_token %}
						<div class="lowin-group">
							{{ threshold_form.c_type.label_tag }}
							{{ threshold_form.c_type }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.server_add.label_tag }}
							{{ threshold_form.server_add }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.t_name.label_tag }}
							{{ threshold_form.t_name }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.c_name.label_tag }}
							{{ threshold_form.c_name }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.condition.label_tag }}
							{{ threshold_form.condition }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.time_option.label_tag }}
							{{ threshold_form.time_option }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.cpr_time_option.label_tag }}
							{{ threshold_form.cpr_time_option }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.up_value.label_tag }}
							{{ threshold_form.up_value }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.down_value.label_tag }}
							{{ threshold_form.down_value }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.r_time.label_tag }}
							{{ threshold_form.r_time }}
						</div>
                        <div class="lowin-group password-group">
							{{ threshold_form.p_user_email.label_tag }}
							{{ threshold_form.p_user_email }}
						</div>
			            <div class="lowin-group password-group">
							{{ threshold_form.notes.label_tag }}
							{{ threshold_form.notes }}
						</div>
			            <div class="lowin-group password-group">
							{{ threshold_form.t_state.label_tag }}
							{{ threshold_form.t_state }}
						</div>
						<button type="submit">
							提交
						</button>
    </div>
{% endblock %}