{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}修改阈值监控{% endblock %}
{% block card-subtitle %}update threshold control{% endblock %}

{% block content %}
    <div class="table-responsive" style="padding-left: 20px">
		{% for task in task_detail %}

        <form class="form-dtl" action="/threshold_ctrl_dtl/{{task.id}}/" method="post">
						{% if message %}
						    <div class="alert alert-warning">{{ message }}</div>
						{% endif %}
						{% csrf_token %}
						<div class="lowin-group">
							<p>监控类型：</p>
							{% if task.c_type == 'value' %}
							<select name="new_c_type">
								    <option selected="selected">value</option>
								    <option>percent</option>
							</select>
							{% elif task.c_type == 'percent' %}
							<select name="new_c_type">
								    <option>value</option>
								    <option selected="selected">percent</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>数据服务器：</p>
							{% if task.server_add == '10.130.146.11' %}
							<select name="new_server_add">
								    <option selected="selected">10.130.146.11</option>
								    <option>10.130.146.13</option>
								    <option>10.126.75.56</option>
							</select>
							{% elif task.server_add == '10.130.146.13' %}
							<select name="new_server_add">
								    <option>10.130.146.11</option>
								    <option selected="selected">10.130.146.13</option>
								    <option>10.126.75.56</option>
							</select>
							{% elif task.server_add == '10.126.75.56' %}
							<select name="new_server_add">
								    <option>10.130.146.11</option>
								    <option>10.130.146.13</option>
								    <option selected="selected">10.126.75.56</option>
							</select>
							{% else %}
							<select name="new_server_add">
								    <option>10.130.146.11</option>
								    <option>10.130.146.13</option>
								    <option>10.126.75.56</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>监控表名称：</p>
							<input name="new_t_name" type="text" value="{{task.t_name}}">
						</div>
                        <div class="lowin-group password-group">
							<p>监控字段名称：</p>
							<input name="new_c_name" type="text" value="{{task.c_name}}">
						</div>
                        <div class="lowin-group password-group">
							<p>监控条件：</p>
							<input name="new_condition" type="text" value="{{task.condition}}">
						</div>
			            <div class="lowin-group password-group">
							<p>监控条件时间选择：</p>
							{% if task.time_option == 'today' %}
							<select name="new_time_option">
								    <option selected="selected">today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.time_option == 'yesterday' %}
							<select name="new_time_option">
								    <option>today</option>
								    <option selected="selected">yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.time_option == 'now_year' %}
							<select name="new_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option selected="selected">now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.time_option == 'now_month' %}
							<select name="new_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option selected="selected">now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.time_option == 'now_month_only' %}
							<select name="new_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option selected="selected">now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.time_option == 'last_month' %}
							<select name="new_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option selected="selected">last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.time_option == 'last_month_only' %}
							<select name="new_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option selected="selected">last_month_only</option>
							</select>
							{% else %}
							<select name="new_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>对比条件时间选择：</p>
							{% if task.cpr_time_option == 'today' %}
							<select name="new_cpr_time_option">
								    <option selected="selected">today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.cpr_time_option == 'yesterday' %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option selected="selected">yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.cpr_time_option == 'now_year' %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option selected="selected">now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.cpr_time_option == 'now_month' %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option selected="selected">now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.cpr_time_option == 'now_month_only' %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option selected="selected">now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.cpr_time_option == 'last_month' %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option selected="selected">last_month</option>
								    <option>last_month_only</option>
							</select>
							{% elif task.cpr_time_option == 'last_month_only' %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option selected="selected">last_month_only</option>
							</select>
							{% else %}
							<select name="new_cpr_time_option">
								    <option>today</option>
								    <option>yesterday</option>
								    <option>now_year</option>
								    <option>now_month</option>
								    <option>now_month_only</option>
								    <option>last_month</option>
								    <option>last_month_only</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>监控上限：</p>
							<input name="new_up_value" type="text" value="{{task.up_value}}">
						</div>
                        <div class="lowin-group password-group">
							<p>监控下限：</p>
							<input name="new_down_value" type="text" value="{{task.down_value}}">
						</div>
			            <div class="lowin-group password-group">
							<p>执行时间：</p>
							<input name="new_r_time" type="time" value="{{task.r_time}}">
						</div>
                        <div class="lowin-group password-group">
							<p>推送人邮箱：</p>
							<input name="new_p_user_email" type="text" value="{{task.p_user_email}}">
						</div>

						<button name="update" type="submit">提交</button>
			            <button name="delete" type="submit">删除</button>
		</form>
		{% endfor %}

    </div>
{% endblock %}