{% extends 'base.html' %}
{% load staticfiles %}
{% block card-title %}修改阈值监控{% endblock %}
{% block card-subtitle %}update threshold control{% endblock %}

{% block content %}
    <div class="table-responsive" style="padding-left: 20px">
		{% for task in task_detail %}

        <form class="form-dtl" action="/threshold_ctrl_dtl/{{task.id}}/" method="post">
						{% if message %}
						    <div class="alert alert-warning">{{ message }}</div>
						{% endif %}
						{% csrf_token %}
						<div class="lowin-group">
							<p>监控类型：</p>
							{% if task.c_type == 'value' %}
							<select name="new_c_type">
								    <option value="value" selected="selected">上下限值</option>
								    <option value="percent">上下限百分比</option>
							</select>
							{% elif task.c_type == 'percent' %}
							<select name="new_c_type">
								    <option value="value">上下限值</option>
								    <option value="percent" selected="selected">上下限百分比</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>数据服务器：</p>
							{% if task.server_add == '10.130.146.11' %}
							<select name="new_server_add">
								    <option value="10.130.146.11" selected="selected">报表平台（10.130.146.11）</option>
								    <option value="10.130.146.13">决策系统（10.130.146.13）</option>
								    <option value="10.126.75.56">虚拟机（10.126.75.56）</option>
							</select>
							{% elif task.server_add == '10.130.146.13' %}
							<select name="new_server_add">
								    <option value="10.130.146.11">报表平台（10.130.146.11）</option>
								    <option value="10.130.146.13" selected="selected">决策系统（10.130.146.13）</option>
								    <option value="10.126.75.56">虚拟机（10.126.75.56）</option>
							</select>
							{% elif task.server_add == '10.126.75.56' %}
							<select name="new_server_add">
								    <option value="10.130.146.11">报表平台（10.130.146.11）</option>
								    <option value="10.130.146.13">决策系统（10.130.146.13）</option>
								    <option value="10.126.75.56" selected="selected">虚拟机（10.126.75.56）</option>
							</select>
							{% else %}
							<select name="new_server_add">
								    <option value="10.130.146.11">报表平台（10.130.146.11）</option>
								    <option value="10.130.146.13">决策系统（10.130.146.13）</option>
								    <option value="10.126.75.56">虚拟机（10.126.75.56）</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>监控表名称：</p>
							<input name="new_t_name" type="text" value="{{task.t_name}}">
						</div>
                        <div class="lowin-group password-group">
							<p>监控字段名称：</p>
							<input name="new_c_name" type="text" value="{{task.c_name}}">
						</div>
                        <div class="lowin-group password-group">
							<p>监控条件：</p>
							<input name="new_condition" type="text" value="{{task.condition}}">
						</div>
			            <div class="lowin-group password-group">
							<p>监控条件时间选择：</p>
							{% if task.time_option == 'today' %}
							<select name="new_time_option">
								    <option value="today" selected="selected">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.time_option == 'yesterday' %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday" selected="selected">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.time_option == 'now_year' %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year" selected="selected">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.time_option == 'now_month' %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month" selected="selected">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.time_option == 'now_month_only' %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only" selected="selected">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.time_option == 'last_month' %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month" selected="selected">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.time_option == 'last_month_only' %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only" selected="selected">上月（mm）</option>
							</select>
							{% else %}
							<select name="new_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>对比条件时间选择：</p>
							{% if task.cpr_time_option == 'today' %}
							<select name="new_cpr_time_option">
								    <option value="today" selected="selected">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.cpr_time_option == 'yesterday' %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday" selected="selected">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.cpr_time_option == 'now_year' %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year" selected="selected">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.cpr_time_option == 'now_month' %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month" selected="selected">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.cpr_time_option == 'now_month_only' %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only" selected="selected">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.cpr_time_option == 'last_month' %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month" selected="selected">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% elif task.cpr_time_option == 'last_month_only' %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only" selected="selected">上月（mm）</option>
							</select>
							{% else %}
							<select name="new_cpr_time_option">
								    <option value="today">今天（yyyy-mm-dd）</option>
								    <option value="yesterday">昨天（yyyy-mm-dd）</option>
								    <option value="now_year">当年（yyyy）</option>
								    <option value="now_month">当月（yyyy-mm）</option>
								    <option value="now_month_only">当月（mm）</option>
								    <option value="last_month">上月（yyyy-mm）</option>
								    <option value="last_month_only">上月（mm）</option>
							</select>
							{% endif %}
						</div>
			            <div class="lowin-group password-group">
							<p>监控上限：</p>
							<input name="new_up_value" type="text" value="{{task.up_value}}">
						</div>
                        <div class="lowin-group password-group">
							<p>监控下限：</p>
							<input name="new_down_value" type="text" value="{{task.down_value}}">
						</div>
			            <div class="lowin-group password-group">
							<p>执行时间：</p>
							<input name="new_r_time" type="time" value="{{task.r_time}}">
						</div>
                        <div class="lowin-group password-group">
							<p>推送人邮箱：</p>
							<input name="new_p_user_email" type="text" value="{{task.p_user_email}}">
						</div>

						<button name="update" type="submit">提交</button>
			            <button name="delete" type="submit">删除</button>
		</form>
		{% endfor %}

    </div>
{% endblock %}